<div class="mt-5 pt-5">
  {{#if orderItems}}
  {{#each orderItems}}
  <div class="row">
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">購買商品</th>
            <th scope="col">購買數量</th>
            <th scope="col">商品單價</th>
            <th scope="col">運送狀態</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="/products/{{this.Product.id}}" class="text-dark">{{this.Product.name}}</a>
            </td>
            <td>{{this.quantity}}</td>
            <td>{{this.price}}</td>
            <td>
              {{#ifCond this.shippingStatus 0}}
              <form action="/admin/orderItems/{{this.id}}/confirm" method="POST">
                <button type="submit" class="btn btn-info" 
                {{#ifCond this.Order.paymentStatus '1'}} 
                onclick="if(confirm('確認已將商品寄送給顧客？')) return true; else return false"
                {{else}}
                disabled
                {{/ifCond}}>
                  未寄送
                </button>
              </form>
              {{else}}
              <!-- Button trigger modal -->
              <button class="btn btn-warning" data-toggle="modal" data-target="#dateOfDispatch{{this.id}}">已寄送</button>
              {{/ifCond}}
            </td>
          </tr>
          <tr>
            <td style="text-align: right;">
              <h5>總計：</h5>
            </td>
            <td>
              <h5>{{this.subtotal}}</h5>
            </td>
            <td>
              <h5>付款狀況：</h5>
            </td>
            <td>
              {{#ifCond this.Order.paymentStatus '0'}}
              <h5 class="text-warning">未付款
              {{/ifCond}}
            
              {{#ifCond this.Order.paymentStatus '1'}}
              <h5 class="text-success">已付款
              {{/ifCond}}
            
              {{#ifCond this.Order.paymentStatus '-1'}}
              <h5 class="text-muted">已取消
              {{/ifCond}}
              ({{momentLLLL this.Order.updatedAt}}，{{momentFromNow this.Order.updatedAt}})</h5>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <h5>收件者資訊</h5>
      <ul>
        <li>訂單id: {{this.Order.id}}</li>
        {{#if this.Order.sn}}
        <li>sn: {{this.Order.sn}}</li>
        {{/if}}
        <li>email: {{this.Order.email}}</li>
        <li>姓名： {{this.Order.name}}</li>
        <li>地址： {{this.Order.address}}</li>
        <li>電話： {{this.Order.phone}}</li>
      </ul>
    </div>
    
  </div>

  <!-- Modal -->
  <div class="modal fade bd-example-modal-sm" id="dateOfDispatch{{this.id}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">商品已寄送！</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            您在{{momentLLLL this.updatedAt}}
            <br>
            ({{momentFromNow this.updatedAt}})
            <br>
            標記此商品為已出貨，將在近期送達顧客指定的地點。
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">
            知道了
          </button>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
  {{else}}
  <h5 class="text-center mb-5">你還沒有訂單資料</h5>
  {{/if}}
</div>