<div class="mt-5 pt-5">
  {{#if orders}}
  {{#each orders}}
  <div class="row">
    <div class="col-md-5">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col">quantity</th>
            <th scope="col">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.items}}
          <tr>
            <td>{{this.name}}</td>
            <td>{{this.OrderItem.quantity}}</td>
            <td>{{this.price}}</td>
          </tr>
          {{/each}}
          <tr>
            <td></td>
            <td style="text-align: right;">
              <h4>Total: </h4>
            </td>
            <td>
              <h4>{{this.amount}}</h4>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <ul>
        <li>{{this.id}}</li>
        <li>user id:{{this.UserId}}</li>
        <li>name: {{this.name}}</li>
        <li>address: {{this.address}}</li>
        <li>phone: {{this.phone}}</li>
        <li>shipping_status: {{this.shippingStatus}}</li>
        <li>payment_status: {{this.paymentStatus}}</li>
      </ul>

      <div style="display: flex; justify-content: space-around; min-width: 300px;">
      {{#ifCond this.paymentStatus '1'}}      
        {{#ifCond this.shippingStatus '1'}}
        <a href="#"><button class="btn btn-primary">立即請款</button></a>
        {{else}}
        <form action="#" method="POST">
          <button type="submit" class="btn btn-primary">標示為已送出</button>
        </form>
        {{/ifCond}}
      {{else}}
        {{!-- display: none --}}
      {{/ifCond}}      
      </div>
    </div>
  </div>

  <hr />
  {{/each}}
  {{else}}
  <h5 class="text-center mb-5">你還沒有訂單資料</h5>
  {{/if}}
</div>