<div class="mt-5 pt-5">
  {{#if orderItems}}
  {{#each orderItems}}
  <div class="row">
    <div class="col-md-5">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">購買商品</th>
            <th scope="col">購買數量</th>
            <th scope="col">商品單價</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{this.Product.name}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.price}}</td>
          </tr>
          <tr>
            <td></td>
            <td style="text-align: right;">
              <h4>總計：</h4>
            </td>
            <td>
              <h4>{{this.subtotal}}</h4>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-5">
      <ul>
        <li>{{this.Order.id}}</li>
        <li>user id:{{this.Order.UserId}}</li>
        <li>name: {{this.Order.name}}</li>
        <li>address: {{this.Order.address}}</li>
        <li>phone: {{this.Order.phone}}</li>
        <li>shipping_status: {{this.Order.shippingStatus}}</li>
        <li>payment_status: {{this.Order.paymentStatus}}</li>
      </ul>
    </div>
    <div class="col-md-2" style="display: flex; justify-content: space-around; min-width: 300px;">
      {{#ifCond this.paymentStatus '1'}}
      {{#ifCond this.shippingStatus '1'}}
      <a href="#"><button class="btn btn-primary">立即請款</button></a>
      {{else}}
      <form action="#" method="POST">
        <button type="submit" class="btn btn-primary">標示為已送出</button>
      </form>
      {{/ifCond}}
      {{else}}
      {{!-- display: none --}}
      {{/ifCond}}
    </div>
    
  </div>
  {{/each}}
  {{else}}
  <h5 class="text-center mb-5">你還沒有訂單資料</h5>
  {{/if}}
</div>