<div class="my-5">
  {{#if orderItems}}
  <div class="col-12 d-flex justify-content-between ml-2 mb-3">
    <div class="col-2 bg-light text-center text-muted pt-2">
      訂單品項({{orderItemsCounts}})
    </div>
    <select class="form-control bg-white col-6 mx-2 mx-md-auto" onchange="window.location.href=this.value;">
      <option value="/admin/orderItems">最新優先
      </option>
      <option value="/admin/orderItems?sort=updatedAtAsc" 
      {{#ifCond sort "updatedAtAsc"}}selected{{/ifCond}}>
        最舊優先</option>
      <option value="/admin/orderItems?sort=priceDesc" 
      {{#ifCond sort "priceDesc"}}selected{{/ifCond}}>
        單價由高至低</option>
      <option value="/admin/orderItems?sort=priceAsc" 
      {{#ifCond sort "priceAsc"}}selected{{/ifCond}}>
        單價由低至高</option>
      <option value="/admin/orderItems?sort=subtotalDesc" 
      {{#ifCond sort "subtotalDesc"}}selected{{/ifCond}}>
        總價由高至低</option>
      <option value="/admin/orderItems?sort=subtotalAsc" 
      {{#ifCond sort "subtotalAsc"}}selected{{/ifCond}}>
        總價由低至高</option>
      <option value="/admin/orderItems?sort=quantityDesc"
      {{#ifCond sort "quantityDesc"}}selected{{/ifCond}}>
        數量由多至少</option>
      <option value="/admin/orderItems?sort=quantityAsc" 
      {{#ifCond sort "quantityAsc"}}selected{{/ifCond}}>
        數量由少至多</option>
      <option value="/admin/orderItems?sort=shippingStatusDesc" 
      {{#ifCond sort "shippingStatusDesc"}}selected{{/ifCond}}>
        已寄送優先
      </option>
      <option value="/admin/orderItems?sort=shippingStatusAsc" 
      {{#ifCond sort "shippingStatusAsc"}}selected{{/ifCond}}>
        未寄送優先
      </option>
    </select>
  </div>
  {{#each orderItems}}
  <div class="row mx-0 px-xl-5">
    <div class="col-7 col-md-8 border-top border-bottom table-responsive pl-xl-5">
      <h5 class="mt-4">{{momentLLLL this.createdAt}}({{momentFromNow this.createdAt}})</h5>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">商品</th>
            <th scope="col">數量</th>
            <th scope="col">單價</th>
            <th scope="col">運送狀態</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="/products/{{this.Product.id}}" class="text-dark">{{this.Product.name}}</a>
            </td>
            <td>{{this.quantity}}</td>
            <td>{{this.price}}</td>
            <td>
              {{#ifCond this.shippingStatus 0}}
              <form action="/admin/orderItems/{{this.id}}/confirm" method="POST">
                <button type="submit" class="btn btn-info" 
                {{#ifCond this.Order.paymentStatus '1'}} 
                onclick="if(confirm('確認已將商品寄送給顧客？')) return true; else return false"
                {{else}}
                disabled
                {{/ifCond}}>
                  未寄送
                </button>
              </form>
              {{else}}
              <!-- Button trigger modal -->
              <button class="btn btn-warning" data-toggle="modal" data-target="#dateOfDispatch{{this.id}}">已寄送</button>
              {{/ifCond}}
            </td>
          </tr>
          <tr>
            <td class="text-center pl-5" colspan="2">
              <h6>總計：{{this.subtotal}}</h6>
            </td>
            <td class="text-left" colspan="2">
              <h6>
                <span>付款狀況：</span>
              {{#ifCond this.Order.paymentStatus '0'}}
              <span class="text-warning">未付款
              {{/ifCond}}
            
              {{#ifCond this.Order.paymentStatus '1'}}
              <span class="text-success">已付款
              {{/ifCond}}
            
              {{#ifCond this.Order.paymentStatus '-1'}}
              <span class="text-muted">已取消
              {{/ifCond}}
              ({{momentLLLL this.Order.updatedAt}}，{{momentFromNow this.Order.updatedAt}})
              </span>
              </h6>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-5 col-md-4 border-top border-bottom pl-5 pt-2 pr-xl-5">
      <h5 class="mt-3">收件者資訊</h5>
      <ul>
        <li>訂單id： {{this.Order.id}}</li>
        {{#if this.Order.sn}}
        <li>sn： {{this.Order.sn}}</li>
        {{/if}}
        <li>email： {{this.Order.email}}</li>
        <li>姓名： {{this.Order.name}}</li>
        <li>地址： {{this.Order.address}}</li>
        <li>電話： {{this.Order.phone}}</li>
      </ul>
    </div>
    
  </div>

  <!-- Modal -->
  <div class="modal fade bd-example-modal-sm" id="dateOfDispatch{{this.id}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="exampleModalCenterTitle">商品已寄送！</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            您在{{momentLLLL this.updatedAt}}
            <br>
            ({{momentFromNow this.updatedAt}})
            <br>
            標記此商品為已出貨，將在近期送達顧客指定的地點。
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">
            知道了
          </button>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
  {{else}}
  <h6 class="text-center mb-5">你還沒有訂單資料</h6>
  {{/if}}
</div>