<div class="row my-5">
  <div class="col-md-9 mx-auto">
    <div class="row">
      {{#if products}}
      <div class="col-12 d-flex justify-content-between ml-2 mb-5">
        <div class="col-2 bg-light text-center text-muted pt-2">
          商品({{productCounts}})
        </div>
        <select class="form-control bg-white col-6 mx-2 mx-md-auto" onchange="window.location.href=this.value;">
          <option value="/admin/products">目前上架優先
          </option>
          <option value="/admin/products?sort=notForSale">尚未上架優先
          </option>
          <option
            value="/admin/products?sort=latest"
            {{#ifCond sort "latest"}}selected{{/ifCond}}>最近更新優先</option>
          <option
            value="/admin/products?sort=priceDesc"
            {{#ifCond sort "priceDesc"}}selected{{/ifCond}}>價格由高至低</option>
          <option
            value="/admin/products?sort=priceAsc"
            {{#ifCond sort "priceAsc"}}selected{{/ifCond}}>價格由低至高</option>
          <option 
            value="/admin/products?sort=categoryLv1" 
            {{#ifCond sort "categoryLv1"}}selected{{/ifCond}}>依大分類先後</option>
        </select>
      </div>
      {{#each products.rows}}
      <div class="col-12 col-md-6 col-xl-4">
        <div class="card my-2 shadow-sm">
          <a href="/products/{{this.id}}">
            <img class="bd-placeholder-img card-img-top border" src={{this.image}}></img>
          </a>
          <div class="card-body">
            <p class="card-text">
              <h4><a href="/products/{{this.id}}">{{this.name}}</a></h4>
              <small>
                <span>{{this.CategoryLv1.name}} 〉</span>
                <span>{{this.CategoryLv2.name}} 〉</span>                
                <br>
                <span>{{this.CategoryLv3.name}}</span>
              </small>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                {{#ifTrue this.forSale}}
                <form action="/admin/products/{{this.id}}/cancel?_method=PUT" method="POST" style="display: inline;">
                  <button type="submit" class="btn btn-sm btn-success p-2 mr-3"
                    onclick="if(confirm('確認下架？')) return true; else return false">
                    已上架
                  </button>
                </form>
                {{else}}
                <form action="/admin/products/{{this.id}}/sell?_method=PUT" method="POST" style="display: inline;">
                  <button type="submit" class="btn btn-sm btn-warning p-2 mr-3"
                    onclick="if(confirm('確認上架？')) return true; else return false">
                    未上架
                  </button>
                </form>
                {{/ifTrue}}
                <div class="mx-1">
                  <a href="/admin/products/{{this.id}}/edit" class="btn btn-sm btn-outline-secondary p-2 mr-3">編輯</a>
                  <form action="/admin/products/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
                    <button type="submit" class="btn btn-sm btn-outline-danger p-2 mr-3"
                      onclick="if(confirm('確認刪除？')) return true; else return false">刪除</button>
                  </form>
                </div>
                <div class="m-1">
                  ${{this.price}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
      {{else}}
      <div class="col-12">
        <h3 class="text-center">您尚未建立任何商品。</h3>
      </div>
      {{/if}}
    </div>
  </div>
</div>