<div class="row my-5">
  <div class="col-md-9 mx-auto">
    <div class="row">
      {{#each products.rows}}
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="card mb-4 shadow-sm">
          <a href="/products/{{this.id}}">
            <img class="bd-placeholder-img card-img-top" src={{this.image}}></img>
          </a>
          <div class="card-body">
            <p class="card-text">
              <h4><a href="/products/{{this.id}}">{{this.name}}</a></h4>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                {{#ifTrue this.forSale}}
                <form action="/admin/products/{{this.id}}/cancel?_method=PUT" method="POST" style="display: inline;">
                  <button type="submit" class="btn btn-sm btn-success"
                    onclick="if(confirm('確認下架？')) return true; else return false">
                    已上架
                  </button>
                </form>
                {{else}}
                <form action="/admin/products/{{this.id}}/sell?_method=PUT" method="POST" style="display: inline;">
                  <button type="submit" class="btn btn-sm btn-warning"
                    onclick="if(confirm('確認上架？')) return true; else return false">
                    未上架
                  </button>
                </form>
                {{/ifTrue}}
                <div class="mx-1">
                  <a href="/admin/products/{{this.id}}/edit" class="btn btn-sm btn-outline-secondary">編輯</a>
                  <form action="/admin/products/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
                    <button type="submit" class="btn btn-sm btn-outline-danger"
                      onclick="if(confirm('確認刪除？')) return true; else return false">刪除</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>