<div class="row mt-5">
  <div class="col-md-9 mx-auto">
    <div class="row">
      {{#each products.rows}}
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="card mb-4 shadow-sm">
          <a href="/products/{{this.id}}">
            <img class="bd-placeholder-img card-img-top" src={{this.image}}></img>
          </a>
          <div class="card-body">
            <p class="card-text">
              <h4><a href="/products/{{this.id}}">{{this.id}} {{this.name}}</a></h4>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">$ {{this.price}}</small>
              <div class="btn-group">
                <a href="#" class="btn btn-sm btn-outline-secondary">編輯</a>
                <a href="#" class="btn btn-sm btn-outline-danger">刪除</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>