<!DOCTYPE html>
<html>

<head>
  <title>not citiesocial</title>
  <link rel="icon" href="http://res.freestockphotos.biz/pictures/15/15108-illustration-of-a-green-close-button-pv.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
</head>

<body>
  <style>
    .btn-round {
      width: 40px;
      height: 40px;
      padding: 7px 10px;
      border-radius: 25px;
      background-color: white;
      font-size: 10px;
      text-align: center;
    }

    .navbar-show {
      transition: top 0.5s ease;
    }

    .navbar-hide {
      top: -56px;
      height: 0;
      padding: 0;
      margin: 0;
    }
  </style>

  <nav class="navbar border-bottom p-0 fixed-top bg-white d-flex align-items-stretch" role="navigation">
    {{#if inAdmin}}
    {{!-- display: none --}}
    {{else}}
    <a href="#" class="bg-info text-white text-center py-1 col-12 navbar-show">
      (特定產品促銷)
    </a>
    {{/if}}
    <div id="brand-logo" class="col-12 col-sm-4 col-md-5 border border-left-0 border-right-0 d-flex align-items-center py-2"
      >
      <a class="navbar-item" href="/">
        <h4 id="icon" class="font-weight-light my-auto">
          <span class="h3 text-danger">Not </span>
          <span class="d-inline-flex justify-content-center">
            <span class="h3 text-info">citie</span>
            <span class="font-weight-lighter h3 text-info">social</span>
          </span>
          <span class="text-dark d-none d-lg-inline">
            &nbsp;也能找&nbsp;&nbsp;好東西
          </span>
        </h4>
      </a>
    </div>

    <div id="search-bar" class="input-group col-sm-4 col-md-3 border border-right-0 d-flex align-items-center py-2"
      >
      {{#if inAdmin}}
      <h4 class="w-100 text-center">
        管理系統
        <br>
        <span class="h5">店家名稱：{{user.shopName}}</span>
      </h4>
      {{else}}
      <form action="/products/">
        <div class="input-group-append">
          <button type="submit" class="input-group-text bg-white p-0 py-1 mx-2 border-0" id="search-button">
            <i class="fas fa-search text-dark h3 m-0"></i>
          </button>
          <input type="text" name="keyword" class="form-control py-1 mx-2 border-0" placeholder="請輸入關鍵字" aria-label="Keyword of products" value="{{keyword}}" aria-describedby="search-button">
        </div>
      </form>
      {{/if}}
    </div>

    <div id="products-list" class="col-2 border border-right-0 d-flex justify-content-center align-items-center py-2"
      >
      {{#if user.isAdmin}}
      {{#if inAdmin}}
      <a href="/" class="text-center">回到首頁</a>
      {{else}}
      <a href="/admin/" class="text-center">商店管理</a>
      {{/if}}
      {{else}}
      <select class="form-control border-0 bg-white" disabled>
        　<option>台灣</option>
        　<option>香港</option>
        　<option>馬來西亞</option>
        　<option>新加坡</option>
      </select>
      {{/if}}
    </div>

    <div id="account-info" class="col-1 border border-right-0 d-flex justify-content-center align-items-center py-2">
      {{#if user}}
      <a href="/users/{{user.id}}">
      {{else}}
      <a href="/signin">
      {{/if}}
        <i class="far fa-user text-dark h3" style="-webkit-text-stroke-width: 1px; -webkit-text-stroke-color: black;"></i>
      </a>
    </div>

    <div id="cart-icon" class="col-1 border border-right-0 d-flex justify-content-center align-items-center py-2" >
      {{#if inCartPage}}
      <a href="/cart">
        <i class="fas fa-shopping-bag text-white h3" style="-webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: black;"></i>
      </a>
      {{else}}
      <!-- Button trigger modal -->
      <button type="button" class="btn" data-toggle="modal" data-target="#cartModal">
        <i class="fas fa-shopping-bag text-white h3" style="-webkit-text-stroke-width: 4px;
          -webkit-text-stroke-color: black;"></i>
      </button>
      {{/if}}
    </div>


    {{#if inAdmin}}
    <div class="w-100 d-flex justify-content-around align-items-center">
      <ul class="text-center mb-0 mx-0 row list-unstyled" style="line-height: 50px;">
        {{#if inProducts}}
        <li class="px-3 bg-dark">
          {{else}}
        <li class="px-3"></li>
        {{/if}}
        <a href="/admin/products">商品管理</a>
        </li>
        {{#if inOrders}}
        <li class="px-3 bg-dark ml-4">
          {{else}}
        <li class="px-3"></li>
        {{/if}}
          <a href="/admin/orders">訂單管理</a>
        </li>
      </ul>
      <div class="d-flex justify-content-end align-items-center">
         {{#if products}}
        <a href="/admin/products/create" class="btn btn-primary">新增商品</a>
        <form action="/admin/products/sellAll?_method=PUT" method="POST" class="d-inline">
          <button type="submit" class="btn btn-warning mx-2" onclick="if(confirm('確認全部上架？')) return true; else return false">
            全部上架
          </button>
        </form>
        <form action="/admin/products/cancelAll?_method=PUT" method="POST" class="d-inline">
          <button type="submit" class="btn btn-danger" onclick="if(confirm('確認全部下架？')) return true; else return false">
            全部下架
          </button>
        </form>
          {{else}}
          
          {{/if}}
      </div>
    </div>
    {{else}}
    <div class="mx-auto d-none d-md-flex">
      <ul class="col-12 text-center mb-0 mx-0 row list-unstyled nav nav-pills" style="line-height: 50px;">
        <li class="nav-item">
          <a class="nav-link text-muted p-0 mx-2" href="#">即時排行 TOP 10</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark p-0 mx-2" href="/products?categoryLv1Id=">
            <span class="{{#ifCond '' categoryLv1Id}}text-info{{/ifCond}}">
              全部商品
            </span>
          </a>
        </li>
        {{#each categories}}
        <li class="nav-item">
          <a class="nav-link text-dark p-0 mx-2" href="/products?categoryLv1Id={{this.id}}">
            <span class="{{#ifCond this.id ../categoryLv1Id}}text-info{{/ifCond}}">
              {{this.name}}
            </span>
          </a>
        </li>
        {{/each}}
        <li>
          <a class="nav-link text-muted p-0 mx-2" href="#">購物優惠</a>
        </li>
        <li>
          <a class="nav-link text-muted p-0 mx-2" href="#">VIEWS生活誌</a>
        </li>
      </ul>
    </div>
    {{/if}}

  </nav>

  <div class="container-fluid mt-5 pt-5">
    {{#if success_messages}}
    <div class="alert alert-success my-5 pt-4" role="alert">
      {{success_messages}}
    </div>
    {{/if}}
    {{#if error_messages}}
    <div class="alert alert-danger my-5 pt-4" role="alert">
      {{error_messages}}
    </div>
    {{/if}}
    {{{body}}}
  </div>

  {{#if inAdmin}}
  {{!-- display: none --}}
  {{else}}
    {{#if inUnsubscribePage}}
    {{!-- display: none --}}
    {{else}}
  <section id="subscription" class="bg-light text-center">
    <h5 class="text-center pt-4">訂閱電子報</h5>
    <div class="input-group mb-3 pt-4 pb-5 d-flex justify-content-center">
      <form action="/subscriber" method="POST">
        <div class="input-group-append d-inline-flex">
          <input type="email" class="border border-dark rounded-left pl-3" placeholder="YOUR@EMAIL.COM" name="email"
            style="width: 30vw; height: 4vh;" aria-label="Recipient's username" aria-describedby="basic-addon2" required>
          <button type="submit" class="btn-secondary  px-4 rounded-right float-right">訂閱電子報</button>
        </div>
      </form>
    </div>
  </section>
    {{/if}}
  {{/if}}

  <footer id="about-company">
    <section class="container">

      <div class="row">

        <div class="col-3">
          <h6 class="mb-3">關於我們</h6>
          <ul class="list-unstyled font-weight-light">
            <li class="py-1"><a href="#" class="text-muted">關於 not citiesocial</a></li>
            <li class="py-1"><a href="#" class="text-muted">隱私權保護政策</a></li>
            <li class="py-1"><a href="#" class="text-muted">服務條款</a></li>
          </ul>
        </div>

        <div class="col-3">
          <h6 class="mb-3">聯絡我們</h6>
          <ul class="list-unstyled font-weight-light">
            <li class="py-1"><a href="#" class="text-muted">業務合作洽談</a></li>
            <li class="py-1"><a href="#" class="text-muted">Sell with not citiesocial</a></li>
          </ul>
        </div>

        <div class="col-3">
          <h6 class="mb-3">自助查詢</h6>
          <ul class="list-unstyled font-weight-light">
            <li class="py-1"><a href="#" class="text-muted">銀行優惠說明</a></li>
            <li class="py-1"><a href="#" class="text-muted">LINE Points 回饋說明</a></li>
            <li class="py-1"><a href="#" class="text-muted">預購商品查詢</a></li>
            <li class="py-1"><a href="#" class="text-muted">訂單出貨查詢</a></li>
            <li class="py-1"><a href="#" class="text-muted">配送進度查詢</a></li>
          </ul>
        </div>

        <div class="col-3">
          <h6 class="mb-3">顧客服務</h6>
          <ul class="list-unstyled font-weight-light">
            <li class="py-1"><a href="#" class="text-muted">VIEWS生活誌</a></li>
            <li class="py-1"><a href="#" class="text-muted">會員回饋計畫</a></li>
            <li class="py-1"><a href="#" class="text-muted">早鳥首映會</a></li>
            <li class="py-1"><a href="#" class="text-muted">退換貨說明</a></li>
            <li class="py-1"><a href="#" class="text-muted">發票說明</a></li>
            <li class="py-1"><a href="#" class="text-muted">客服中心</a></li>
          </ul>
        </div>
      </div>

    </section>
  </footer>

  {{!-- 點擊開啟modal後，常常無法正確載入購物車內資料，
  通常是顯示不出cartItem的名稱與單價，少數是誤顯示為購物車沒東西，
  還有極少數情況是操作中途重新建立空的購物車，
  尤其在元素較多較複雜的頁面...... --}}
  <!-- Modal -->
  <div class="modal fade p-0" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel"
    aria-hidden="true">

    <div class="modal-dialog mt-0 mr-0" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <span class="col-10">
            <div class="row">
              <i class="fas fa-shopping-bag text-white h3 px-2"
                style="-webkit-text-stroke-width: 4px; -webkit-text-stroke-color: green;"></i>
              <h5 class="modal-title" id="exampleModalLabel">我的購物車</h5>
            </div>
          </span>
          <button type="button" class="close col-2" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        {{#ifCond cart.items.length 0}}
        <div class="modal-body">
          <h5 class="text-center">您還沒有加入商品到購物車中</h5>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-info w-50 mx-auto" data-dismiss="modal" aria-label="Close">
            開始逛逛
          </button>
        </div>
        {{else}}
        <div class="modal-body">          
          <div class="sidebar-sticky">            
            <ul class="list-group list-group-flush">
              <li class="list-group-item">              
                {{#each cart.items}}
                <div class="row no-gutters">
                  <div class="col-md-4" style="display: flex;align-items: center;">
                    <img src="{{this.image}}" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{this.name}}</h5>
                      <p>${{this.price}}</p>
                      <div class="btn-group">
                        <span style="margin: 0 20px;">{{this.CartItem.quantity}}</span>
          
                        <form action="/cartItem/{{this.CartItem.id}}?_method=DELETE" method="POST">
                          <button type="submit" class="btn btn-link">
                            <i class="fas fa-trash"></i>
                          </button>
                        </form>
          
                      </div>
                    </div>
                  </div>
                </div>
                {{/each}}              
              </li>
            </ul>
            <hr>
            <li class="list-group-item">
              Total: ${{totalPrice}}
            </li>
          </div>
        </div>

        <div class="modal-footer">
          <a href="/cart" class="btn btn-info w-100">立即結帳</a>
        </div>
        {{/ifCond}}

      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/3285f63162.js" crossorigin="anonymous"></script>
  <script>
    // 修改自：https://www.codeply.com/go/7Fab8Thufl
    // document ready
    (function hideSaleNavbar($) {
      let previousScroll = 20
      // scroll functions
      $(window).scroll(function (e) {
        // add/remove classes to navbar when scrolling to hide/show
        let scroll = $(window).scrollTop()
        if (scroll >= previousScroll) {
          $('.navbar-show').addClass("navbar-hide")
          $('.navbar-show').addClass("d-none")
        } else {
          $('.navbar-show').removeClass("navbar-hide")
          $('.navbar-show').removeClass("d-none")
        }
        previousScroll = scroll
      })

    })(jQuery)
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
       // 因為後端有在網址加hashtag，加入購物車或登入導回頁面後會顯示購物車的modal
      if (window.location.hash == "#cart") {
        $('#cartModal').modal()
      }
    })
  </script>
</body>

</html>