<!DOCTYPE html>
<html>

<head>
  <title>not citiesocial</title>
  <link rel="icon" href="http://res.freestockphotos.biz/pictures/15/15108-illustration-of-a-green-close-button-pv.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
</head>

<body>
  <style>
    .btn-round {
      width: 40px;
      height: 40px;
      padding: 7px 10px;
      border-radius: 25px;
      background-color: white;
      font-size: 10px;
      text-align: center;
    }

    .navbar-show {
      transition: top 0.5s ease;
    }

    .navbar-hide {
      top: -56px;
      height: 0;
      padding: 0;
      margin: 0;
    }
  </style>

  <nav class="navbar border-bottom p-0 fixed-top bg-white" role="navigation">
    <a href="#" class="bg-info text-white text-center py-1 col-12 navbar-show">
      (特定產品促銷)
    </a>
    <div id="brand-logo" class="col-4 border border-left-0 border-right-0 mt-0" style="height:  7vh;">
      <a class="navbar-item " href="/">
        <h4 id="icon" class="font-weight-light pt-2">
          <span class="h3 text-danger">Not </span>
          <span class="d-inline-flex justify-content-center">
            <span class="h3 text-info">citie</span>
            <span class="font-weight-lighter h3 text-info">social</span>
          </span>
          <span class="text-dark d-none d-xl-inline">&nbsp;也能找&nbsp;&nbsp;好東西</span>
          </h2>
      </a>
    </div>

    <div id="search-bar" class="input-group col-4  border border-right-0" style="height:  7vh;">
      <div class="input-group-append mt-1 pt-2">
        <button class="input-group-text bg-white form-control  border-0" id="search-button">
          <i class="fas fa-search text-dark h3"></i>
        </button>
      </div>
      <input type="text" class="mt-2 pt-2 form-control  border-0" placeholder="請輸入關鍵字">
    </div>

    <div id="products-list" class="col-2 pt-3 border border-right-0" style="height:  7vh;">
      {{#if user.isAdmin}}
      <a href=" /admin/products" class="d-flex justify-content-center text-center">商品列表</a>
      {{/if}}
    </div>

    <div id="account-info" class="col-1 pt-1 pt-xl-3 border border-right-0" style="height:  7vh;">
      {{#if user}}
      <a href="/logout" class="d-flex justify-content-center text-center">{{user.firstName}}，登出</a>
      {{else}}
      <a href="/signin" class="d-flex justify-content-center text-center">訪客，登入</a>
      {{/if}}
    </div>

    <div id="cart-icon" class="col-1 pt-3 border border-right-0" style="height:  7vh;">
      <a href="/cart" class="d-flex justify-content-center">
        <i class="fas fa-shopping-bag text-white h3" style="-webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: black;"></i>
      </a>
    </div>

    <ul class="col-12 text-center mb-0 mx-0 row list-unstyled" style="line-height: 50px;">
      <li class="px-3 active"><a>分類1</a></li>
      <li class="px-3"><a>分類2</a></li>
      <li class="px-3"><a>分類3</a></li>
    </ul>

  </nav>

  <div class="container-fluid mt-5 pt-5">
    {{#if success_messages}}
    <div class="alert alert-success my-5" role="alert">
      {{success_messages}}
    </div>
    {{/if}}
    {{#if error_messages}}
    <div class="alert alert-danger my-5" role="alert">
      {{error_messages}}
    </div>
    {{/if}}
    {{{body}}}
  </div>

  <section id="subscription" class="bg-light text-center">
    <h5 class="text-center pt-4">訂閱電子報</h5>
    <div class="input-group mb-3 pt-4 pb-5 d-flex justify-content-center">
      <form action="#">
        <div class="input-group-append d-inline-flex">
          <input type="email" class="border border-dark rounded-left pl-3" placeholder="YOUR@EMAIL.COM" name="email"
            style="width: 30vw; height: 5vh;" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled>
          <button type="submit" class="btn-secondary  px-4 rounded-right float-right" disabled>訂閱電子報</button>
        </div>
      </form>
    </div>
  </section>

  <footer id="about-company">
    <section class="container">

      <div class="row">

        <div class="col-3">
          <h6 class="mb-3">關於我們</h6>
          <ul class="list-unstyled font-weight-light">
            <li class="py-1"><a>關於 not citiesocial</a></li>
            <li class="py-1"><a>隱私權保護政策</a></li>
            <li class="py-1"><a>服務條款</a></li>
          </ul>
        </div>

        <div class="col-3">
          <h6 class="mb-3">聯絡我們</h6>
          <ul class="list-unstyled font-weight-light">
            <li class="py-1"><a>業務合作洽談</a></li>
            <li class="py-1"><a>Sell with not citiesocial</a></li>
          </ul>
        </div>

        <div class="col-3">
          <h6 class="mb-3">自助查詢</h6>
          <ul class="list-unstyled font-weight-light">
            <li class="py-1"><a>銀行優惠說明</a></li>
            <li class="py-1"><a>LINE Points 回饋說明</a></li>
            <li class="py-1"><a>預購商品查詢</a></li>
            <li class="py-1"><a>訂單出貨查詢</a></li>
            <li class="py-1"><a>配送進度查詢</a></li>
          </ul>
        </div>

        <div class="col-3">
          <h6 class="mb-3">顧客服務</h6>
          <ul class="list-unstyled font-weight-light">
            <li class="py-1"><a>VIEWS生活誌</a></li>
            <li class="py-1"><a>會員回饋計畫</a></li>
            <li class="py-1"><a>早鳥首映會</a></li>
            <li class="py-1"><a>退換貨說明</a></li>
            <li class="py-1"><a>發票說明</a></li>
            <li class="py-1"><a>客服中心</a></li>
          </ul>
        </div>
      </div>

    </section>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/3285f63162.js" crossorigin="anonymous"></script>
  <script>
    // 修改自：https://www.codeply.com/go/7Fab8Thufl
    // document ready
    (function hideSaleNavbar($) {
      let previousScroll = 20
      // scroll functions
      $(window).scroll(function (e) {
        // add/remove classes to navbar when scrolling to hide/show
        let scroll = $(window).scrollTop()
        if (scroll >= previousScroll) {
          $('.navbar-show').addClass("navbar-hide")
          $('.navbar-show').addClass("d-none")
        } else {
          $('.navbar-show').removeClass("navbar-hide")
          $('.navbar-show').removeClass("d-none")
        }
        previousScroll = scroll
      })

    })(jQuery)
  </script>
</body>

</html>