<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>not citiesocial |也能找 好東西</title>
  <link rel="icon" href="http://res.freestockphotos.biz/pictures/15/15108-illustration-of-a-green-close-button-pv.png" type="image/png">
  <link rel="shortcut icon" href="http://res.freestockphotos.biz/pictures/15/15108-illustration-of-a-green-close-button-pv.png"
    type="image/png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
</head>

<body>
  <style>
    .btn-round {
      width: 40px;
      height: 40px;
      padding: 7px 10px;
      border-radius: 25px;
      background-color: white;
      font-size: 10px;
      text-align: center;
    }

    .navbar-show {
      transition: top 0.5s ease;
    }

    .navbar-hide {
      top: -56px;
      height: 0;
      padding: 0;
      margin: 0;
    }
  </style>

  <nav class="navbar navbar-light border-bottom p-0 fixed-top bg-white align-items-stretch" role="navigation">
    {{#if inAdmin}}
    {{!-- display: none --}}
    {{else}}
    <a href="/products" class="bg-info text-white text-center py-1 col-12 navbar-show">
      慶開幕──全館商品首賣展！
    </a>
    {{/if}}
    <button class="navbar-toggler border rounded-0 col-2 d-flex justify-content-center align-items-center d-md-none btn" type="button" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" data-toggle="modal" data-target="#listModal">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="brand-logo"
      class="d-none col-md-5 border border-left-0 border-right-0 d-md-flex align-items-center py-2">
      <a class="navbar-item" href="/">
        <h4 id="icon" class="my-auto">
          <span class="h1 font-weight-bolder text-danger">Not </span>
          <span class="d-inline-flex justify-content-center">
            <span class="h1 font-weight-bolder text-info">citie</span>
            <span class="h1 font-weight-lighter text-info">social</span>
          </span>
          <span class="text-dark d-none d-xl-inline">
            &nbsp;也能找&nbsp;&nbsp;好東西
          </span>
        </h4>
      </a>
    </div>

    <div id="brand-logo-mobile"
      class="col-6 d-md-none border border-left-0 border-right-0 d-flex justify-content-center align-items-center py-2">
      <a class="navbar-item" href="/">
        <h6 id="icon-mobile" class="my-auto">
          <span class="h3 font-weight-bolder text-danger">Not </span>
          <span class="d-inline-flex justify-content-center">
            <span class="h3 font-weight-bolder text-info">citie</span>
            <span class="h3 font-weight-lighter text-info">social</span>
          </span>
        </h6>
      </a>
    </div>

    <div id="search-bar" class="input-group d-none col-md-3 border border-right-0 d-md-flex align-items-center py-2">
      {{#if inAdmin}}
      <h4 class="w-100 text-center">
        管理系統
        <br>
        <span class="h5">店家名稱：{{user.shopName}}</span>
      </h4>
      {{else}}
      <form action="/products/">
        <div class="input-group-append">
          <button type="submit" class="input-group-text bg-white p-0 py-1 mx-2 border-0" id="search-button" disabled>
            <i class="fas fa-search text-dark h3 m-0"></i>
          </button>
          <input type="text" name="keyword" class="form-control py-1 mx-2 border-0 px-0" id="search-input" placeholder="請輸入關鍵字"
            aria-label="Keyword of products" value="{{keyword}}" aria-describedby="search-button">
        </div>
      </form>
      {{/if}}
    </div>

    <div id="products-list" class="d-none col-md-2 border border-right-0 d-md-flex justify-content-center align-items-center py-2">
      {{#if user.isAdmin}}
      {{#if inAdmin}}
      <a href="/" class="text-center">回到首頁</a>
      {{else}}
      <a href="/admin/" class="text-center">商店<br>管理</a>
      {{/if}}
      {{else}}
      <select class="form-control border-0 bg-white px-0" disabled>
        　<option>台灣</option>
        　<option>香港</option>
        　<option>馬來西亞</option>
        　<option>新加坡</option>
      </select>
      {{/if}}
    </div>

    <div id="account-info" class="col-2 col-md-1 border border-right-0 d-flex justify-content-center align-items-center py-2">
      {{#if user}}
      <a href="/users/{{user.id}}">
        {{else}}
        <a href="/signin">
          {{/if}}
          <i class="far fa-user text-dark h3 mt-2"
            style="-webkit-text-stroke-width: 1px; -webkit-text-stroke-color: black;"></i>
        </a>
    </div>

    <div id="cart-icon" class="col-2 col-md-1 border border-right-0 d-flex justify-content-center align-items-center py-2">
      {{#if inCartPage}}
      <a href="/cart">
        {{#ifCond cart.CartItems.length 0}}
        <i class="fas fa-shopping-bag h3 text-white mt-2"
          style="-webkit-text-stroke-width: 4px; -webkit-text-stroke-color: black;"></i>
        {{else}}
        <span class="fa-stack">
          <span class="fas fa-shopping-bag h3 text-success fa-stack-2x"></span>
          <strong class="fa-stack-1x text-white mt-1">
            {{totalQuantity}}
          </strong>
        </span>
        {{/ifCond}}
      </a>
      {{else}}
      <!-- Button trigger modal -->
      <button type="button" class="btn" data-toggle="modal" data-target="#cartModal">
        {{#ifCond cart.CartItems.length 0}}
        <i class="fas fa-shopping-bag h3 text-white mt-2"
          style="-webkit-text-stroke-width: 4px; -webkit-text-stroke-color: black;"></i>
        {{else}}
        <span class="fa-stack">
          <span class="fas fa-shopping-bag h3 text-success fa-stack-2x"></span>
          <strong class="fa-stack-1x text-white mt-1">
            {{totalQuantity}}
          </strong>
        </span>
        {{/ifCond}}
      </button>
      {{/if}}
    </div>

    <div id="search-bar-mobile"
      class="input-group col-12 d-md-none border border-right-0 d-flex align-items-center py-2">
      {{#if inAdmin}}
      <h4 class="w-100 text-center">
        店家名稱：{{user.shopName}}
      </h4>
      {{else}}
      <form action="/products/" class="w-100">
        <div class="input-group-append bg-light">
          <button type="submit" class="input-group-text bg-light p-0 py-1 mx-2 border-0" id="search-button-mobile" disabled>
            <i class="fas fa-search text-muted h4 m-0"></i>
          </button>
          <input type="text" name="keyword" class="w-100 py-1 mx-2 border-0 px-0 bg-light" id="search-input-mobile" placeholder="請輸入關鍵字"
            aria-label="Keyword of products" value="{{keyword}}" aria-describedby="search-button">
        </div>
      </form>
      {{/if}}
    </div>

    {{#if inAdmin}}
    <div class="w-100 d-flex justify-content-around align-items-center">
      <ul class="text-center mb-0 mx-0 row list-unstyled" style="line-height: 50px;">
        {{#if inProducts}}
        <li class="px-3 bg-warning">
        {{else}}
        <li class="px-3">
        {{/if}}
        <a href="/admin/products" class="font-weight-bold">商品管理</a>
        </li>
        {{#if inOrders}}
        <li class="px-3 bg-warning">
        {{else}}
        <li class="px-3">
        {{/if}}
        <a href="/admin/orderItems" class="font-weight-bold">訂單管理</a>
        </li>
      </ul>
      <div class="d-flex justify-content-end align-items-center">
        {{#if products}}
        <a href="/admin/products/create" class="btn btn-primary">新增商品</a>
        <form action="/admin/products/sellAll?_method=PUT" method="POST" class="d-inline">
          <button type="submit" class="btn btn-warning mx-1 mx-sm-2"
            onclick="if(confirm('確認全部上架？')) return true; else return false">
            全部上架
          </button>
        </form>
        <form action="/admin/products/cancelAll?_method=PUT" method="POST" class="d-inline">
          <button type="submit" class="btn btn-danger" onclick="if(confirm('確認全部下架？')) return true; else return false">
            全部下架
          </button>
        </form>
        {{else if orderItems}}
        {{!-- display: none --}}
        {{/if}}
        <a href="mailto:{{superAdminEmail}}" class="btn btn-outline-info ml-5">聯絡網管</a>
      </div>
    </div>
    {{else}}
    <div class="mx-auto d-none d-md-flex">
      <ul class="col-12 text-center mb-0 mx-0 row list-unstyled nav nav-pills d-flex justify-content-center" style="line-height: 50px;">
        <li class="nav-item">
          <a class="nav-link text-muted p-0 mx-2" href="#">即時排行 TOP 100</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark p-0 mx-2" href="/products">
            <span class="
            {{#ifCond categoryLv1Id ''}}{{#ifCond keyword ''}}text-info{{/ifCond}}{{/ifCond}}">
              全部商品
            </span>
          </a>
        </li>
        {{#each categories}}
        <li class="nav-item">
          <a class="nav-link text-dark p-0 mx-2" href="/products?categoryLv1Id={{this.id}}">
            <span class="{{#ifCond this.id ../categoryLv1Id}}text-info{{/ifCond}}">
              {{this.name}}
            </span>
          </a>
        </li>
        {{/each}}
        <li>
          <a class="nav-link text-muted p-0 mx-2" href="#">VIEWS生活誌</a>
        </li>
      </ul>
    </div>
    {{/if}}

  </nav>

  {{#if inProfile}}
  <div class="mt-5 pt-5 bg-light">
  {{else}}
  <div class="mt-5 pt-5">
  {{/if}}    
    <div class="mt-5 mt-md-0 pt-5">
      {{#if success_messages}}
      <div class="alert alert-success my-5 py-3" role="alert">
        {{success_messages}}
      </div>
      {{/if}}
      {{#if error_messages}}
      <div class="alert alert-danger my-5 py-3" role="alert">
        {{error_messages}}
      </div>
      {{/if}}
      {{{body}}}
    </div>
  </div>

  {{#if inAdmin}}
  {{!-- display: none --}}
  {{else}}
  {{#if inUnsubscribePage}}
  {{!-- display: none --}}
  {{else}}
  <section id="subscription" class="bg-light text-center">
    <h5 class="text-center pt-4 font-weight-bolder">訂閱電子報</h5>
    <div class="input-group mb-3 pt-4 pb-5 d-flex justify-content-center">
      <form action="/subscriber" method="POST">
        <div class="input-group-append d-inline-flex">
          <input type="email" class="border border-dark rounded-left pl-3 pr-5" placeholder="YOUR@EMAIL.COM" name="email"
            style="height: 50px;" aria-label="Recipient's username" aria-describedby="basic-addon2"
            required>
          <button type="submit" class="btn-secondary px-2 px-md-4 rounded-right float-right" style="height: 50px;">訂閱電子報</button>
        </div>
      </form>
    </div>
  </section>
  {{/if}}
  {{/if}}

  <footer id="about-company">
    <section class="container">

      <div class="row pt-4">

        <div class="col-12 col-sm-6 col-lg-3">
          <h6 class="mb-3 font-weight-bolder">關於我們</h6>
          <ul class="list-unstyled font-weight-light">
            <li class="py-1"><a href="#" class="text-muted">關於 not citiesocial</a></li>
            <li class="py-1"><a href="#" class="text-muted">隱私權保護政策</a></li>
            <li class="py-1"><a href="#" class="text-muted">服務條款</a></li>
          </ul>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
          <h6 class="mb-3 font-weight-bolder">聯絡我們</h6>
          <ul class="list-unstyled font-weight-light">
            <li class="py-1"><a href="#" class="text-muted">業務合作洽談</a></li>
            <li class="py-1"><a href="#" class="text-muted">Sell with not citiesocial</a></li>
          </ul>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
          <h6 class="mb-3 font-weight-bolder">自助查詢</h6>
          <ul class="list-unstyled font-weight-light">
            <li class="py-1"><a href="#" class="text-muted">銀行優惠說明</a></li>
            <li class="py-1"><a href="#" class="text-muted">LINE Points 回饋說明</a></li>
            <li class="py-1"><a href="#" class="text-muted">預購商品查詢</a></li>
            <li class="py-1"><a href="#" class="text-muted">訂單出貨查詢</a></li>
            <li class="py-1"><a href="#" class="text-muted">配送進度查詢</a></li>
          </ul>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
          <h6 class="mb-3 font-weight-bolder">顧客服務</h6>
          <ul class="list-unstyled font-weight-light">
            <li class="py-1"><a href="#" class="text-muted">VIEWS生活誌</a></li>
            <li class="py-1"><a href="#" class="text-muted">會員回饋計畫</a></li>
            <li class="py-1"><a href="#" class="text-muted">早鳥首映會</a></li>
            <li class="py-1"><a href="#" class="text-muted">退換貨說明</a></li>
            <li class="py-1"><a href="#" class="text-muted">發票說明</a></li>
            <li class="py-1"><a href="#" class="text-muted">客服中心</a></li>
          </ul>
        </div>
      </div>         

    </section>

    <section class="col-12 border-top mt-5 pt-5 pb-5 pb-md-3">
      <div class="h1 d-flex justify-content-center">
        <i class="fab fa-cc-visa mx-2 text-muted" ></i>
        <i class="fab fa-cc-mastercard mx-2 text-muted"></i>
        <i class="fab fa-cc-jcb mx-2 text-muted"></i>
      </div>
      <div class="d-flex justify-content-center mt-4">
        <small class="text-muted">
          2020, Not Citiesocial
        </small>
      </div>
    </section>
  </footer>
  
  <!-- Modal -->
  {{!-- Cart --}}
  <div class="modal fade p-0" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel"
    aria-hidden="true">

    <div class="modal-dialog mt-0 mr-0" role="document">
      <div class="modal-content rounded-0">
        <div class="modal-header py-0">
          <span class="col-11 pb-2 pt-3 pl-3 border-right">
            <div class="row">              
                {{#ifCond cart.CartItems.length 0}}
                <i class="fas fa-shopping-bag h3 text-white"
                style="-webkit-text-stroke-width: 4px; -webkit-text-stroke-color: black;"></i>
                {{else}}
                <span class="fa-stack">
                  <i class="fas fa-shopping-bag h3 text-success fa-stack-2x"></i>
                  <strong class="fa-stack-1x text-white mt-1">
                    {{totalQuantity}}
                  </strong>
                </span>
                {{/ifCond}}
              <h5 class="modal-title mx-4 mt-1" id="exampleModalLabel">我的購物車</h5>
            </div>
          </span>
          <span class="col-1 d-flex justify-content-center align-items-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span class="h1">×</span>
            </button>
          </span>
        </div>

        {{#ifCond cart.CartItems.length 0}}
        <div class="modal-body bg-light">
          <h5 class="text-center mt-2 mb-0 font-weight-bolder">您還沒有加入商品到購物車中</h5>
        </div>

        <div class="modal-footer bg-light border-0">
          <button type="button" class="btn btn-info w-25 mx-auto mb-4" data-dismiss="modal" aria-label="Close">
            開始逛逛
          </button>
        </div>
        {{else}}
        <div class="modal-body p-0">
          <div class="sidebar-sticky">
            {{#each CartItems}}
            <div class="row no-gutters border bg-light">
              <form action="/cartItem/{{this.id}}?_method=DELETE" method="POST" class="col-1">
                <button type="submit" class="btn">
                  <i class="fas fa-times-circle text-secondary"></i></i>
                </button>
              </form>
              <div class="col-2" style="display: flex;align-items: center;">
                <img src="{{this.Product.image}}" class="card-img" alt="商品圖片">
              </div>
              <div class="col-6">
                <div class="card-body">
                  <h5 class="card-title text-muted font-weight-lighter">
                    {{this.Product.User.shopName}}
                  </h5>
                  <h5 class="card-title font-weight-bolder">
                    {{this.quantity}} x {{this.name}}
                  </h5>
                  
                </div>
              </div>
              <div class="col-3">
                <div class="card-body pl-0 pt-5">
                  <h6 class="text-info font-weight-bolder text-right">NTD {{this.Product.price}}</h6>
                </div>
              </div>
            </div>
            {{/each}}
            <div class="d-flex justify-content-between px-4 py-3">
              <span>總計</span>
              <h6 class=" font-weight-bold">NTD {{totalPrice}}</h6>
            </div>
          </div>
        </div>
        <a href="/cart" class="modal-footer btn btn-info d-flex justify-content-center rounded-0">
          <span class="py-2">立即結帳</span>
        </a>
        {{/ifCond}}

      </div>
    </div>

  </div>

  {{!-- List --}}
  <div class="modal fade p-0" id="listModal" tabindex="-1" role="dialog" aria-labelledby="listModalLabel"
    aria-hidden="true">
  
    <div class="modal-dialog modal-sm my-0 ml-0" role="document">
      <div class="modal-content rounded-0 my-0" style="height: 100vh;">
        <div class="modal-header py-0 d-flex justify-content-start align-items-center">
          <span class="col-1 my-0 ml-3">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span class="h1 text-dark">×</span>
            </button>
          </span>
        </div>

        <div class="modal-body p-0">
          <ul class="sidebar-sticky col-12 mb-0 mx-0 list-unstyled p-0"
            style="line-height: 50px;">
            {{#if user.isAdmin}}
            <li class="border-bottom py-2 px-3">
              {{#if inAdmin}}
              <a class="nav-link text-link p-0 mx-2" href="/">回到首頁</a>
              {{else}}
              <a class="nav-link text-link p-0 mx-2" href="/admin">商店管理</a>
              {{/if}}
            </li>
            {{/if}}
            {{#if inAdmin}}
            {{!-- display: none --}}
            {{else}}
            <li class="border-bottom py-2 px-3">
              <a class="nav-link text-muted p-0 mx-2" href="#">即時排行 TOP 100</a>
            </li>
            <li class="border-bottom py-2 px-3">
              <a class="nav-link text-dark p-0 mx-2" href="/products">
                <span class="
                  {{#ifCond categoryLv1Id ''}}{{#ifCond keyword ''}}text-info{{/ifCond}}{{/ifCond}}">
                  全部商品
                </span>
              </a>
            </li>
            {{#each categories}}
            <li class="border-bottom py-2 px-3">
              <a class="nav-link text-dark p-0 mx-2" href="/products?categoryLv1Id={{this.id}}">
                <span class="{{#ifCond this.id ../categoryLv1Id}}text-info{{/ifCond}}">
                  {{this.name}}
                </span>
              </a>
            </li>
            {{/each}}
            <li class="border-bottom py-2 px-3">
              <a class="nav-link text-muted p-0 mx-2" href="#">VIEWS生活誌</a>
            </li>
            {{/if}}
            <li class="border-bottom py-2 px-3">
              <a class="nav-link text-dark p-0 mx-2" href="/orders">訂單查詢</a>
            </li>
            <li class="border-bottom py-2 px-3">
            {{#if user}}
              <a class="nav-link text-dark p-0 mx-2" href="/users/{{user.id}}">我的帳號</a>
            {{else}}
              <a class="nav-link text-dark p-0 mx-2" href="/signin">會員登入</a>
            </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
  
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/3285f63162.js" crossorigin="anonymous"></script>
  <script>
    // 修改自：https://www.codeply.com/go/7Fab8Thufl
    // document ready
    (function hideSaleNavbar($) {
      let previousScroll = 20
      // scroll functions
      $(window).scroll(function (e) {
        // add/remove classes to navbar when scrolling to hide/show
        let scroll = $(window).scrollTop()
        if (scroll >= previousScroll) {
          $('.navbar-show').addClass("navbar-hide")
          $('.navbar-show').addClass("d-none")
        } else {
          $('.navbar-show').removeClass("navbar-hide")
          $('.navbar-show').removeClass("d-none")
        }
        previousScroll = scroll
      })

    })(jQuery)
  </script>

  <script>
    const searchButton = document.querySelector('#search-button')
    const searchInput = document.querySelector('#search-input')
    const searchButtonMobile = document.querySelector('#search-button-mobile')
    const searchInputMobile = document.querySelector('#search-input-mobile')

    searchInput.onchange = () => {
      if (searchInput.value !== '') {
        searchButton.disabled = false
      } else {
        searchButton.disabled = true
      }
    }
    searchInputMobile.onchange = () => {
      if (searchInputMobile.value !== '') {
        searchButtonMobile.disabled = false
      } else {
        searchButtonMobile.disabled = true
      }
    }
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      // 因為後端有在網址加hashtag，加入購物車或登入導回頁面後會顯示購物車的modal
      if (window.location.hash == "#cart") {
        $('#cartModal').modal()
      }
    })
  </script>
</body>

</html>