<div class="container my-5 pb-5" id="cart">

  <ul class="nav mt-5 pt-5">
    <li class="nav-item">
      <a class="text-muted" href="/">首頁</a>
    </li>
    <span class="mx-1">></span>
    <li class="nav-item">
      <a class="text-muted">
        購物車
      </a>
    </li>
  </ul>
  <h3 class="mt-3 font-weight-bolder">我的購物車</h3>

  {{#ifCond cart.items.length 0}}
  <div class="">
    <h5 class="text-center">您還沒有加入商品到購物車中</h5>
    <h6 class="text-center my-5"></span>
      <a href="/" class="btn btn-info px-5 py-3" aria-label="Close">
        開始逛逛
      </a>
    </h6>
  </div>
  {{else}}
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="font-weight-normal py-3 pl-5">商品</th>
        <th scope="col" class="font-weight-normal py-3 pl-5">價格</th>
        <th scope="col" class="font-weight-normal py-3 pl-5">數量</th>
        <th scope="col" class="font-weight-normal py-3 pl-5">小計</th>
        <th scope="col" class="font-weight-normal py-3 pl-5"></th>
      </tr>
    </thead>
    <tbody>
      {{#each cart.CartItems}}
      <tr>
        <td class="pl-5">
          <div class="d-flex align-items-center">
            <a href="/products/{{this.Product.id}}">
              <img src="{{this.Product.image}}" class="card-img my-3" alt="..." style="height: 100px;width: auto;">  
            </a>
            <div class="d-inline ml-2">
              <span>{{this.Product.User.shopName}}</span>
              <a href="/products/{{this.Product.id}}">
                <h4 class="text-dark font-weight-bolder">{{this.Product.name}}</h4>
              </a>
            </div>
          </div>
        </td>
        <td class="">
          <div class="my-5 pt-3">
            <div class="d-inline ml-2">
              <span class="font-weight-bolder">NTD {{this.Product.price}}</span>
            </div>
          </div>
        </td>
        <td>
          <div class="my-5 d-flex align-items-center">
            <span class="px-4">
              {{this.quantity}}
            </span>            
            {{#ifCond this.quantity 1}}
            <form action="/cartItem/{{this.id}}?_method=DELETE" method="POST">
            {{else}}
            <form action="/cartItem/{{this.id}}/sub" method="POST">
            {{/ifCond}}
              <button type="submit" class="btn btn-sm btn-outline-secondary border px-4 py-2" style="border-radius: 50% 0 0 50%;">
                <span class="p-0" style="font-size: x-large; border-color: grey;">-</span>
              </button>
            </form>
            <form action="/cartItem/{{this.id}}/add" method="POST">
              <button type="submit" class="btn btn-sm btn-outline-secondary border px-4 py-2" style="border-radius: 0 50% 50% 0;">
                <span class="p-0" style="font-size: x-large; border-color: grey;">+</span>
              </button>
            </form>
          </div>
        </td>
        <td>
          <div class="my-5 pt-3">
            <input type="number" id="price-{{this.id}}" value="{{this.Product.price}}" class="d-none">
            <input type="number" id="quantity-{{this.id}}" value="{{this.quantity}}" class="d-none">
            <span class="font-weight-bolder">NTD
              <span id="subtotal-{{this.id}}">0</span>
            </span>
            <script>
              const price{{this.id}} = document.querySelector('#price-{{this.id}}')
              const quantity{{this.id}} = document.querySelector('#quantity-{{this.id}}')
              const subtotal{{this.id}} = document.querySelector('#subtotal-{{this.id}}')

              subtotal{{this.id}}.textContent = Number(price{{this.id}}.value) * Number(quantity{{this.id}}.value)
            </script>
          </div>
        </td>
        <td>
          <form action="/cartItem/{{this.id}}?_method=DELETE" method="POST" class="my-5 pt-2">
            <button type="submit" class="btn btn-link text-secondary">
              <i class="fas fa-times-circle h5"></i>
            </button>
          </form>
        </td>
      </tr>
      {{/each}}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2">
          <div class="">
            <h5 class="font-weight-bolder text-right mr-5">NTD {{totalPrice}}</h5>
            <button class="btn btn-info py-3 px-5 mt-4" id="checkout">
              結帳
              <small>>></small>
            </button>
          </div>
        </td>        
      </tr>
    </tbody>
  </table> 
  {{/ifCond}}
</div>

<div class="row container my-5 py-5" id="information" style="display: none;">  
  <div class="col-md-4">
    <form action="order" method="POST">
      <div class="form-group">
      {{#if user}}
      <h3>會員結帳 | 收件人資料</h3>
      <h4>
        <span>{{user.name}}</span>
        <a class="text-info" href="/logout">登入其他帳戶</a>
      </h4>
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" value="{{user.email}}" required>
      {{else}}
        <div class="ml-2">
          <h4>目前不開放非會員結帳！</h4>
          <p>
            <a class="text-info" href="/signin">登入會員</a>
            快速結帳
            <br>
            或 
            <a class="text-info" href="/signup">立即註冊</a>
            享有完整會員功能
            <h5 class="text-warning">請於登入後回到購物車繼續交易！</h5>
          </p>
        </div>
      {{/if}}
      </div>
      
      {{#if user}}
      <div class="form-group">
        <label for="lastName">姓</label>
        <input type="text" class="form-control" id="lastName" placeholder="Enter last name" name="lastName" value="{{user.lastName}}" required>
      </div>
      <div class="form-group">
        <label for="firstName">名</label>
        <input type="text" class="form-control" id="firstName" placeholder="Enter first name" name="firstName" value="{{user.firstName}}" required>
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" id="phone" placeholder="Enter phone" name="phone" value="{{user.defaultPhone}}" required>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address" placeholder="Enter address" name="address" value="{{user.defaultAddress}}" required>
      </div>
      
      <input type="hidden" name="cartId" value="{{cart.id}}">
      <input type="hidden" name="amount" value="{{totalPrice}}">
      <input type="hidden" name="shippingStatus" value="0">
      <input type="hidden" name="paymentStatus" value="0">
      <button type="submit" class="btn btn-info">下一步</button>
      {{/if}}
    </form>
  </div>
  <div class="col-md-8">
    {{#if user}}
    <h4 class="text-right">
      <span>{{totalPrice}}</span>
      <span>NTD </span>
      <span>免運費</span>
    </h4>
    <h3 class="text-right">
      <span>總計</span>
      <small>TWD </small>
      <span>{{totalPrice}}</span>
    </h3>
    {{/if}}
  </div>
</div>

<script>
  const cart = document.querySelector('#cart')
  const information = document.querySelector('#information')
  const checkout = document.querySelector('#checkout')

  checkout.addEventListener('click', () => {
    cart.style.display = "none"
    information.style.display = "flex"
  })
</script>