<div id="card" class="container mt-5 py-md-5">
  <div class="row">
    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/User_Circle.png" alt="avatar"
      style="width: 7.5vw; height: 7.5vw" class="mt-3 ml-3">
    <div class="card-body col-8 col-md-6 pt-3">
      <small>會員 Insider</small>
      <h1 class="card-title mt-3 ">
        <span>{{user.lastName}}</span>
        <span>{{user.firstName}}</span>
      </h1>
    </div>
  </div>
  {{#ifCond user.id user.id}}
  <div class="d-flex border-bottom">
    <ul class="col-12 text-center mb-0 mx-0 row list-unstyled nav nav-pills d-flex justify-content-start"
      style="line-height: 50px;">
      <li>
        <a href="/orders" class="text-dark mx-4">訂單查詢</a>
      </li>
      <li class="nav-item border-success border-bottom">
        <a href="/users/{{user.id}}/edit" class="text-dark mx-4">帳號管理</a>
      </li>
      <li>
        <a href="/logout" class="text-muted mx-4">登出</a>
      </li>
    </ul>
  </div>
  {{/ifCond}}
  <div class="container py-5 px-0 px-md-2 bg-white">
    <form action="/users/{{user.id}}?_method=PUT" method="POST" class="mx-0 mx-md-2 py-3">
  
      <div class="row mx-5 my-4">
        <div class="form-group col-6 pl-0">
          <label class="text-muted mb-0" for="last-name">姓</label>
          <input type="text" class="form-control border-top-0 border-left-0 border-right-0 pl-0" name="lastName" value="{{user.lastName}}" id="last-name">
        </div>
        
        <div class="form-group col-6 pr-0">
          <label class="text-muted mb-0" for="first-name">名</label>
          <input type="text" class="form-control border-top-0 border-left-0 border-right-0 pl-0" name="firstName" value="{{user.firstName}}" id="first-name" required>
        </div>
      </div>
  
      <div class="form-group mx-5 my-4">
        <label class="text-muted mb-0" for="email">電子郵件</label>
        <input type="email" class="form-control border-top-0 border-left-0 border-right-0 bg-white pl-0" name="email" value="{{user.email}}" id="email" disabled>
      </div>
  
      <div class="row mx-5 my-4">
        <div class="form-group col-6 pl-0">
          <label class="text-muted" for="default-phone">預設電話（選填，也作為商店聯絡電話）</label>
          <input type="text" class="form-control" name="defaultPhone" value="{{user.defaultPhone}}" id="default-phone">
        </div>
        
        <div class="form-group col-6 pr-0">
          <label class="text-muted" for="default-address">預設地址（選填）</label>
          <input type="text" class="form-control" name="defaultAddress" value="{{user.defaultAddress}}" id="default-address">
        </div>
      </div>
  
      <div class="form-check mb-2 mx-5 my-4">
        <input type="checkbox" class="form-check-input" id="is-admin" name="isAdmin"
          {{#ifTrue user.isAdmin}}checked{{/ifTrue}} value="{{user.isAdmin}}">
        <label class="form-check-label" for="is-admin">是否開店</label>
      </div>
  
      <hr>
  
      <div class="row mx-5">
        <div class="form-group col-6 pl-0">
          <label for="shop-name">商店名稱</label>
          <input type="text" class="form-control for-shop" name="shopName" value="{{user.shopName}}" id="shop-name"
            {{#ifTrue user.isAdmin}}{{else}}disabled{{/ifTrue}} required>
        </div>
        
        <div class="form-group col-6 pr-0">
          <label for="shop-id">身分證字號/統一證號/公司統編</label>
          <input type="text" class="form-control for-shop" name="shopId" value="{{user.shopId}}" id="shop-id"
            {{#ifTrue user.isAdmin}}{{else}}disabled{{/ifTrue}} required>
        </div>
      </div>
  
      <div class="row mx-5">
        <div class="form-group col-6 pl-0">
          <label for="shop-birthday">生日/公司核准設立日期</label>
          <input type="date" class="form-control for-shop" name="shopBirthday" value="{{user.shopBirthday}}" id="shop-birthday"
            {{#ifTrue user.isAdmin}}{{else}}disabled{{/ifTrue}} required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
        </div>
        
        <div class="form-group col-6 pr-0">
          <label for="shop-address">戶籍地址/公司地址</label>
          <input type="text" class="form-control for-shop" name="shopAddress" {{#if user.shopAddress}}
            value="{{user.shopAddress}}" {{else if user.defaultAddress}} value="{{user.defaultAddress}}" {{/if}}
            id="shop-address" {{#ifTrue user.isAdmin}}{{else}}disabled{{/ifTrue}} required>
        </div>
      </div>
  
      <div class="row mx-5">
        <div class="form-group col-6 pl-0">
          <label for="shop-bank-name">銀行名稱</label>
          <input type="text" class="form-control for-shop" name="shopBankName" value="{{user.shopBankName}}" id="shop-bank-name"
            {{#ifTrue user.isAdmin}}{{else}}disabled{{/ifTrue}} required>
        </div>
        
        <div class="form-group col-6 pr-0">
          <label for="shop-bank-branch">分行名稱</label>
          <input type="text" class="form-control for-shop" name="shopBankBranch" value="{{user.shopBankBranch}}"
            id="shop-bank-branch" {{#ifTrue user.isAdmin}}{{else}}disabled{{/ifTrue}} required>
        </div>
      </div>
  
      <div class="row mx-5">
        <div class="form-group col-6 pl-0">
          <label for="shop-account-name">銀行戶名</label>
          <input type="text" class="form-control for-shop" name="shopAccountName" value="{{user.shopAccountName}}"
            id="shop-account-name" {{#ifTrue user.isAdmin}}{{else}}disabled{{/ifTrue}} required>
        </div>
        
        <div class="form-group col-6 pr-0">
          <label for="shop-account-number">銀行帳號</label>
          <input type="text" class="form-control for-shop" name="shopAccountNumber" value="{{user.shopAccountNumber}}"
            id="shop-account-number" {{#ifTrue user.isAdmin}}{{else}}disabled{{/ifTrue}} required>
        </div>
      </div>
  
      <div class="mx-5 mt-5">
        <button type="submit" class="btn btn-info col-12 py-2">更新會員資料</button>
      </div>
  
    </form>
  </div>
</div>

<script>
  const checkbox = document.querySelector('#is-admin')
  let forShops = document.querySelectorAll('.for-shop')

  console.log(checkbox, forShops)
  
  checkbox.onchange = () => {
    if (checkbox.checked) {
      for(let i = 0; i < forShops.length; i++) {
        forShops[i].disabled = false
      }
      checkbox.value = "true"
    } else {
      for (let i = 0; i < forShops.length; i++) {
        forShops[i].disabled = true
      }
      checkbox.value = !checkbox.value
    } 
  }
</script>