<div id="card" class="container mt-5 py-5">
  <div class="row">
    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/User_Circle.png" alt="avatar"
      style="width: 7.5vw; height: 7.5vw" class="mt-3">
    <div class="card-body col-8 col-md-6 pt-3">
      <small>會員 Insider</small>
      <h1 class="card-title mt-3 ">
        <span>{{user.lastName}}</span>
        <span>{{user.firstName}}</span>
      </h1>
    </div>
  </div>
  {{#ifCond user.id user.id}}
  <div class="d-none d-md-flex border-bottom">
    <ul class="col-12 text-center mb-0 mx-0 row list-unstyled nav nav-pills d-flex justify-content-start"
      style="line-height: 50px;">
      <li class="nav-item border-success border-bottom">
        <a href="/orders" class="text-dark mx-4">訂單查詢</a>
      </li>
      <li>
        <a href="/users/{{user.id}}/edit" class="text-dark mx-4">帳號管理</a>
      </li>
      <li>
        <a href="/logout" class="text-muted mx-4">登出</a>
      </li>
    </ul>
  </div>
  {{/ifCond}}
  
  {{#if orders}}
  <div class="container py-5 px-auto bg-white">
  {{#each orders}}
    <div class="row">
      <div class="col-12 col-lg-8">
        <h5 class="mt-3">{{momentLLLL this.createdAt}}({{momentFromNow this.createdAt}})</h5>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">購買商品</th>
              <th scope="col">數量</th>
              <th scope="col">單價</th>
              <th scope="col">運送狀態</th>
              <th scope="col">店家聯絡資訊</th>
            </tr>
          </thead>
          <tbody>
            {{#each this.OrderItems}}
            <tr>
              <td>
                <a href="/products/{{this.Product.id}}" class="text-dark">{{this.Product.name}}</a>
              </td>
              <td>{{this.quantity}}</td>
              <td>{{this.price}}</td>
              <td>
                {{#ifCond this.shippingStatus 0}}
                <button type="submit" class="btn btn-info" disabled>未寄送</button>
                {{else}}
                <!-- Button trigger modal -->
                <button class="btn btn-warning" data-toggle="modal"
                  data-target="#dateOfDispatch{{this.id}}">已寄送</button>
                {{/ifCond}}
              </td>
              <td>
                <h6>{{this.Product.User.shopName}}：</h6>
                <a href="mailto:{{this.Product.User.email}}">{{this.Product.User.email}}</a>
                <br>
                <a href="tel:{{this.Product.User.defaultPhone}}">{{this.Product.User.defaultPhone}}</a>
              </td>
            </tr>

            <!-- Modal -->
            <div class="modal fade bd-example-modal-sm" id="dateOfDispatch{{this.id}}" tabindex="-1" role="dialog"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">商品已寄送！</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>
                      店家在{{momentLLLL this.updatedAt}}
                      <br>
                      ({{momentFromNow this.updatedAt}})
                      <br>
                      標記此商品為已出貨，將在近期送達訂單指定的地點。
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">
                      知道了
                    </button>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
            <tr>
              <td style="text-align: right;">
                <h6>總計：</h6>
              </td>
              <td>
                <h6>{{this.amount}}</h6>
              </td>
              <td>
                <h6>狀態：</h6>
              </td>
              <td colspan="2">
                {{#ifCond this.paymentStatus '0'}}
                <h6 class="text-warning">未付款
                  {{/ifCond}}

                  {{#ifCond this.paymentStatus '1'}}
                  <h6 class="text-success">已付款
                    {{/ifCond}}

                    {{#ifCond this.paymentStatus '-1'}}
                    <h6 class="text-muted">已取消
                      {{/ifCond}}
                      ({{momentLLLL this.updatedAt}}，{{momentFromNow this.updatedAt}})</h6>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-12 col-lg-4 d-flex justify-content-center">
        <div class="row">
          <div class="ml-3">
            <h5 class="mt-3">收件者資訊</h5>
            <ul class="mt-4">
              <li>訂單id： {{this.id}}</li>
              {{#if this.sn}}
              <li>sn： {{this.sn}}</li>
              {{/if}}
              <li>email： {{this.email}}</li>
              <li>姓名： {{this.name}}</li>
              <li>地址： {{this.address}}</li>
              <li>電話： {{this.phone}}</li>
            </ul>
          </div>
          <div>
            {{#ifCond this.paymentStatus '0'}}
            <div class="d-flex justify-content-center align-items-center" style="min-width: 300px;">
              <form action="/order/{{this.id}}/cancel" method="POST">
                <button type="submit" class="btn btn-primary my-4"
                  onclick="if(confirm('確認取消？')) return true; else return false">取消訂單</button>
              </form>
          
              <a href="/order/{{this.id}}/payment" class="d-flex align-items-center mx-3"><button
                  class="btn btn-primary">立即付款</button></a>
            </div>
            {{else}}
            {{!-- display:none --}}
            {{/ifCond}}
          </div>
        </div>
      </div>
    </div>

    <hr />
    {{/each}}
  {{else}}
  <div class="container py-5 bg-white">
    <h5 class="text-center mb-5 py-4 border-top border-bottom">你還沒有訂單資料</h5>
    {{/if}}
  </div>
</div>

<script>
  const checkbox = document.querySelector('#is-admin')
  let forShops = document.querySelectorAll('.for-shop')

  console.log(checkbox, forShops)

  checkbox.onchange = () => {
    if (checkbox.checked) {
      for (let i = 0; i < forShops.length; i++) {
        forShops[i].disabled = false
      }
      checkbox.value = "true"
    } else {
      for (let i = 0; i < forShops.length; i++) {
        forShops[i].disabled = true
      }
      checkbox.value = !checkbox.value
    }
  }
</script>