<div class="container mt-5 pt-5">
  <h3>準備為訂單編號： {{order.id}} 付款 </h3>
  <div class="row justify-content-between mt-3">
    <h4>總價 {{order.amount}} </h4>    
    <form name='newebpay' action='{{tradeInfo.PayGateWay}}' method="POST">
      <button type="submit" class="btn btn-primary">付款</button>

      <span class="d-none">MerchantID:</span>
      <input type="hidden" name="MerchantID" value="{{tradeInfo.MerchantID}}"><br>
      <span class="d-none">TradeInfo:</span>
      <input type="hidden" name="TradeInfo" value="{{tradeInfo.TradeInfo}}"><br>
      <span class="d-none">TradeSha:</span>
      <input type="hidden" name="TradeSha" value="{{tradeInfo.TradeSha}}"><br>
      <span class="d-none">Version:</span>
      <input type="hidden" name="Version" value="{{tradeInfo.Version}}"><br>
    </form>
  </div>
</div>