<section class="mx-0 mx-md-5 my-5">

  <ul class="nav mt-5 pt-md-5 ml-5 ml-md-0">
    <li class="nav-item">
      <a class="text-muted">{{product.CategoryLv1.name}}</a>
    </li>
    <span class="mx-1">></span>
    <li class="nav-item">
      <a class="text-muted" href="/products/?keyword={{product.CategoryLv2.name}}">{{product.CategoryLv2.name}}</a>
    </li>
    <span class="mx-1">></span>
    <li class="nav-item active">
      <a class="text-muted" href="/products/?keyword={{product.CategoryLv3.name}}">{{product.CategoryLv3.name}}</a>
    </li>
  </ul>

  <div class="row">
    <div class=" col-12 col-md-7">
      <div class="border-bottom pb-2">
        <figure class="figure d-flex justify-content-center">
          <img class="figure-img img-fluid mt-5 border" src="{{product.image}}">
        </figure>
      </div>

      <div class="d-md-none text-center mt-4 pb-4 border-bottom">
        <h6>
          <a href="/products/?keyword={{product.User.shopName}}" class="text-black-50 py-5">
            {{product.User.shopName}}
          </a>
        </h6>
        <h3 class="my-2 font-weight-bold">{{product.name}}</h3>
        <p id="price" class="mt-4">
          <span class="font-weight-bold h5">NTD {{product.price}}</span>
          {{#if product.discount}}
          <span>{{product.discount}}</span>
          {{/if}}
          <span class="ml-3"> (免運費)</span>
        </p>
      </div>

      <article id="multimedia-contents" class="mt-4 ml-5 ml-md-0">
        {{#if product.features}}
        <h6 class="font-weight-bold">產品特色</h6>
        <ul>
          <li>{{product.features}}</li>
        </ul>
        {{/if}}

        <h6 class="font-weight-bold">產品介紹</h6>
        <p>
          {{product.description}}
        </p>

        {{#if product.instruction}}
        <h6 class="font-weight-bold">使用說明</h6>
        <p>
          {{product.instruction}}
        </p>
        {{/if}}

        {{#if product.announcement}}
        <h6 class="font-weight-bold">注意事項</h6>
        <p>
          {{product.announcement}}
        </p>
        {{/if}}

        {{#if product.specification}}
        <h6 class="font-weight-bold">商品規格</h6>
        <ul class="list-unstyled">
          {{product.specification}}
        </ul>
        {{/if}}

      </article>
    </div>

    <div class="col-12 col-md-5 mt-5">
      <div class="d-none d-md-block">
        <h6>
          <a href="/products/?keyword={{product.User.shopName}}" class="text-black-50 border-bottom">
            {{product.User.shopName}}
          </a>
        </h6>
        <h3 class="my-2 font-weight-bold">{{product.name}}</h3>
        <p id="price" class="mt-4">
          <span class="font-weight-bold h5">NTD {{product.price}}</span>
          {{#if product.discount}}
          <span>{{product.discount}}</span>
          {{/if}}
          <span class="ml-3"> (免運費)</span>
        </p>
      </div>

      <form action="/cart" method="POST" class="d-none d-md-block col-12 px-0">
        <div class="row my-4">
          <div class="col-3 mt-3 pl-1 text-center text-black-50">
            數量
          </div>
          <button class="col-3 btn btn-light border-0 text-muted bg-white" id="minus">
            <span class="h2">-</span>
          </button>
          <input type="number" name="quantity" class="col-3 pl-4 text-center" id="quantity" value="1" min="1">
          <button class="col-2 btn btn-light border-0 text-info bg-white" id="plus">
            <span class="h2">+</span>
          </button>
        </div>
        <input type="hidden" name="productId" value="{{product.id}}">
        <button type="submit" class="btn btn-info py-3 mt-1 col-12" id="add-to-cart">
          加入購物車
        </button>
      </form>

      <form action="/cart" method="POST" class="d-md-none col-12 px-0">
        <div class="fixed-bottom p-3 bg-white">
          <input type="number" name="quantity" class="d-none" id="quantity" value="1" min="1">
          <input type="hidden" name="productId" value="{{product.id}}">
          <button type="button" class="btn btn-info py-2 mt-1 col-12" id="purchase" data-toggle="modal" data-target="#purchaseModal">
            購買
          </button>
        </div>
      </form>
    </div>
  </div>
</section>

<!-- Modal -->
{{!-- Purchase --}}
<div class="modal fade p-0" id="purchaseModal" tabindex="-1" role="dialog" aria-labelledby="purchaseModalLabel"
  aria-hidden="true" onclick="window.location.reload()">

  <div role="document"
  style="position:fixed; bottom:0; width:100%;" style="z-index: 10;" onclick="event.stopPropagation()">
    <div class="modal-content rounded-0">
      <div class="modal-header py-0 d-flex justify-content-end align-items-center">
        <span class="col-1 my-0 ml-3">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="window.location.reload()">
            <span class="h1 text-dark">×</span>
          </button>
        </span>
      </div>

      <div class="modal-body p-0">
        <form action="/cart" method="POST" class="d-md-block col-12 px-0">
          <div class="row my-4">
            <div class="col-7 mt-3 pl-5 text-black-50">
              數量
            </div>
            <button class="col-1 btn btn-light border-0 text-muted bg-white" id="minus-mobile">
              <span class="h2">-</span>
            </button>
            <input type="number" name="quantity" class="col-2 mx-2 text-center" id="quantity-mobile" value="1" min="1">
            <button class="col-1 btn btn-light border-0 text-info bg-white" id="plus-mobile">
              <span class="h2">+</span>
            </button>
          </div>
          <input type="hidden" name="productId" value="{{product.id}}">
          <div class="p-3">
            <button type="submit" class="btn btn-info d-flex justify-content-center w-100" id="add-to-cart-mobile">
              <span class="py-2">加入購物車</span>
            </button>
          </div>
        </form>
      </div>

    </div>
  </div>

</div>

<script>
  const minus = document.querySelector('#minus')
  const plus = document.querySelector('#plus')
  const quantity = document.querySelector('#quantity')
  const addToCart = document.querySelector('#add-to-cart')

  minus.addEventListener('click', (event) => {
    event.preventDefault()
    let number = Number(quantity.value) // 寫在callback裡面才能轉表單數字屬性
    
    if (number > 1) {
      quantity.value = number - 1 // 修改原本的值
      number-- // 對應的轉換值也要減掉，否則quantity.value與number大小不一致
    }
    // 不用else連結，才能在數量顯示為1時，直接讓減號變成灰色
    if (number === 1) {
      minus.classList.remove('text-info')
      minus.classList.add('text-muted')
    }
  })

  plus.addEventListener('click', (event) => {
    event.preventDefault()
    const number = Number(quantity.value) // 寫在callback裡面才能轉表單數字屬性

    minus.classList.remove('text-muted')
    minus.classList.add('text-info')
    quantity.value = number + 1 // 修改原本的值
  })

  addToCart.addEventListener('click', (event) => {
    addToCart.textContent = '加入中…'
  })  
</script>

<script>
  const minusMobile = document.querySelector('#minus-mobile')
  const plusMobile = document.querySelector('#plus-mobile')
  const quantityMobile = document.querySelector('#quantity-mobile')
  const addToCartMobile = document.querySelector('#add-to-cart-mobile')

  minusMobile.addEventListener('click', (event) => {
    event.preventDefault()
    let number = Number(quantityMobile.value) // 寫在callback裡面才能轉表單數字屬性

    if (number > 1) {
      quantityMobile.value = number - 1 // 修改原本的值
      number-- // 對應的轉換值也要減掉，否則quantity.value與number大小不一致
    }
    // 不用else連結，才能在數量顯示為1時，直接讓減號變成灰色
    if (number === 1) {
      minusMobile.classList.remove('text-info')
      minusMobile.classList.add('text-muted')
    }
  })

  plusMobile.addEventListener('click', (event) => {
    event.preventDefault()
    const number = Number(quantityMobile.value) // 寫在callback裡面才能轉表單數字屬性

    minusMobile.classList.remove('text-muted')
    minusMobile.classList.add('text-info')
    quantityMobile.value = number + 1 // 修改原本的值
  })

  addToCartMobile.addEventListener('click', (event) => {
    addToCartMobile.textContent = '加入中…'
  })  
</script>