<section class="container my-5">

  <ul class="nav mt-5 pt-5">
    <li class="nav-item">
      <a class="text-muted">分類1</a>
    </li>
    <span class="mx-1">></span>
    <li class="nav-item">
      <a class="text-muted" href="#">分類A</a>
    </li>
    <span class="mx-1">></span>
    <li class="nav-item active">
      <a class="text-muted" href="#">分類a</a>
    </li>
  </ul>

  <div class="row">
    <div class=" col-12 col-md-7">
      <div class="border-bottom pb-2">
        <figure class="figure">
          <img class="figure-img img-fluid w-75 mt-5 ml-5 border" src="{{product.image}}">
        </figure>
      </div>

      <article id="multimedia-contents" class="mt-5 d-none d-md-block">
        {{#if product.features}}
        <h6>產品特色</h6>
        <ul>
          {{product.features}}
        </ul>
        {{/if}}

        {{#if product.description}}
        <h6>產品介紹</h6>
        <p>
          {{product.description}}
        </p>
        {{/if}}

        {{#if product.instruction}}
        <h6>使用說明</h6>
        <p>
          {{product.instruction}}
        </p>
        {{/if}}

        {{#if product.announcement}}
        <h6>注意事項</h6>
        <p>
          {{product.announcement}}
        </p>
        {{/if}}

        {{#if product.specification}}
        <h6>商品規格</h6>
        <ul class="list-unstyled">
          {{product.specification}}
        </ul>
        {{/if}}

      </article>
    </div>

    <div class="col-12 col-md-5 mt-5">
      <h7><u><a href="#" class="text-black-50">{{product.User.shopName}}</a></u></h7>
      <h3 class="my-2">{{product.name}}</h3>
      <p id="price" class="mt-4">
        <span class="font-weight-bold h5">NTD {{product.price}}</span>
        {{#if product.discount}}
        <span>{{product.discount}}</span>
        {{/if}}
        <span class="ml-3 h7"> (免運費)</span>
      </p>
      <div class="row my-4">
        <div class="col-3 mt-3 pl-1 text-center text-black-50">
          數量
        </div>
        <button class="col-3 btn btn-light border-0 text-muted bg-white" disabled>
          <h2>-</h2>
        </button>
        <input type="number" name="quantity" class="col-3 pl-4 text-center" value="1" disabled>
        <button class="col-2 btn btn-light border-0 text-info bg-white" disabled>
          <h2>+</h2>
        </button>
      </div>
      <form action="/cart" method="POST" class="col-12 px-0">
        <input type="hidden" name="productId" value="{{product.id}}">
        <button type="submit" class="btn btn-info py-3 mt-1 col-12" id="add-to-cart">
          加入購物車
        </button>
      </form>
    </div>
  </div>
</section>

<script>
    const addToCart = document.querySelector('#add-to-cart')
    
    addToCart.addEventListener('click', (event) => {
      addToCart.textContent = '加入中…'
    })
</script>