<section id="product-list" class="py-5 mt-5">
  {{#if keyword}}
  <h3 class="ml-4">搜尋結果</h3>
  {{/if}}
  <section class="mx-0 mx-md-5 mt-4">
    <div class="row">
    {{#if products}}
      <div class="col-12 d-flex justify-content-between ml-2">
        <div class="col-2 bg-light text-center text-muted pt-2">
          商品({{productCounts}})
        </div>
        <select class="form-control bg-white col-6 mx-2 mx-md-auto" onchange="window.location.href=this.value;">
          <option value="/products?keyword={{keyword}}{{#if categoryLv1Id}}&categoryLv1Id={{categoryLv1Id}}{{/if}}">最相關</option>
          <option value="/products?sort=latest&keyword={{keyword}}{{#if categoryLv1Id}}&categoryLv1Id={{categoryLv1Id}}{{/if}}"
            {{#ifCond sort "latest"}}selected{{/ifCond}}>最新上架</option>
          <option
            value="/products?sort=priceDesc&keyword={{keyword}}{{#if categoryLv1Id}}&categoryLv1Id={{categoryLv1Id}}{{/if}}"
            {{#ifCond sort "priceDesc"}}selected{{/ifCond}}>價格由高至低</option>
          <option
            value="/products?sort=priceAsc&keyword={{keyword}}{{#if categoryLv1Id}}&categoryLv1Id={{categoryLv1Id}}{{/if}}"
            {{#ifCond sort "priceAsc"}}selected{{/ifCond}}>價格由低至高</option>
        </select>
      </div>
      {{#each products}}
      <div class="card border-0 col-12 col-lg-3 my-4 px-4">
        <a href="/products/{{this.id}}" class="text-decoration-none">
          <img src={{this.image}} alt="Placeholder image" class="w-100 card-img-top my-5">
          <div class="card-body py-1 px-0">
            <a href="/products/?keyword={{this.User.shopName}}">
              <h7 class="card-title text-muted my-0">{{this.User.shopName}}</h7>
            </a>
            <h6 class="card-text text-dark mb-4">{{this.name}}</h6>
            {{!-- {{#if this.discount}}
              <h7 class="card-text text-info mt-4 font-weight-bold">NTD {{this.discount}}</h7>
            {{else}} --}}
              <h7 class="card-text text-info mt-4 font-weight-bold">NTD {{this.price}}</h7>
            {{!-- {{/if}}             --}}
          </div>
        </a>
      </div>
      {{/each}}
    {{else}}
      <div class="col-12">
        <h3 class="text-center">無相關結果。</h3>
      </div>
    {{/if}}  
    </div>
  </section>
</section>